:host {
    display: block;
    position: absolute;
    background-color: lightgray;
}

:host:hover {
    cursor: pointer;
    margin: -1px;
    z-index: 100;
    border: 2px solid yellow;
}

:host > .room-name {
    position: relative;
    display: block;
    color: white;
    font-size: 8px;
    font-family: Consolas, monaco, monospace;
}