:host {
    display: block;
    position: absolute;
    background-color: lightgray;
}

:host > .room-name {
    margin-top: 2px;
    margin-left: 3px;
    line-height: 8px;
    letter-spacing: 0.5px;
    position: relative;
    display: block;
    color: white;
    font-size: 8px;
    font-family: Consolas, monaco, monospace;
}