.wrap {
    width: 1024px;
    display: block;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.right:after {
    clear: both;
}

h1 > span {
    @media screen and (max-width: 778px) { display: none; }
}