<pssr-std-layout>
  <layout-header>
    <nav>
      <ul>
        <li><a pssr-a-nav-item [routerLink]="['top100']">All</a></li>
        <!-- For the time being ... this all needs to be refactored .. -->
        <!--<li><a pssr-a-nav-item [routerLink]="['top100']" routerLinkActive="active">Top 100</a></li>-->
        <li><a pssr-a-nav-item [routerLink]="['top100']" routerLinkActive="active">Top 100</a></li>
      </ul>
    </nav>
  </layout-header>

  <layout-content>
    <router-outlet></router-outlet>
  </layout-content>
</pssr-std-layout>