:host {
    position: fixed;
    display: block;
    width: 100vw;
    top: 0;
    z-index: 10;
}

:host /deep/ > layout-header {
    display: block;
    max-width: 778px;
    margin: 0 auto;
}

// Flow nav lists horizontally

:host /deep/ nav > ul {
    padding: 0;
    margin: 0;
    text-align: center;

    & li {
        display: inline-block;
    }
}

// Headspace styles (show/hide on scroll up/down)

:host.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.2s ease-in-out, background .3s ease-in-out;
}

:host.header--hidden {
    transform: translate3d(0, -8rem, 0); /* y value should be -1 * height */
}

:host.header--fixed {
    position: fixed;
    background: #212121;
}