@font-face {
    font-family: 'ArcaMajora3-Bold';
    src: url('/assets/font/ArcaMajora3/ArcaMajora3-Bold.woff2') format('woff2'),
         url('/assets/font/ArcaMajora3/ArcaMajora3-Bold.woff') format('woff');
}
@font-face {
    font-family: 'ArcaMajora3-Heavy';
    src: url('/assets/font/ArcaMajora3/ArcaMajora3-Heavy.woff2') format('woff2'),
         url('/assets/font/ArcaMajora3/ArcaMajora3-Heavy.woff') format('woff');
}