@font-face {
    font-family: 'ArcaMajora3-Bold';
    src:  url('/fonts/ArcaMajora3-Bold.woff2') format('woff2'),
            url('/fonts/ArcaMajora3-Bold.woff') format('woff');
}
@font-face {
    font-family: 'ArcaMajora3-Heavy';
    src:  url('/fonts/ArcaMajora3-Heavy.woff2') format('woff2'),
            url('/fonts/ArcaMajora3-Heavy.woff') format('woff');
}