:host {
    display: block;
    position: absolute;
    background-color: lightgray;
}

:host > .room-name {
    position: relative;
    display: block;
    color: white;
    font-size: 8px;
    font-family: Consolas, monaco, monospace;
}